<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LWL WQ Dashboard</title>
</head>
<body>
  <header class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="toggle topbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2 mt-md-0" id="navbarToggler">
        <div class="navbar-brand">Lake Worth Lagoon Water Quality Dashboard</div>
      </div>
    </div>
  </header>
  <main>
    Hello admin.
  </main>
</body>
</html>